{% load staticfiles %}

<DOCTYPE html>
    <html >
    <header class="header1">
        <title>KID TOYS||KIDS||CREATIVItY</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="description" content="Kindle || Children Creativity || queit Work  for kids||" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'css/mainfile.css' %}"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     
<script src="{% static 'script/main.js' %}">  
</script><div class="blu"> 
  <div id="home">
    <div class="header">
                   <nav class="desktop">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#order"><span>Products</span></a></li>
    <li><a href="#about"><span>About</span></a></li>
    <li><a href="#"><span>Event</span></a></li>
    <li><a href="#contact"><span>contact</span></a></li>
    <li><a href="#order"><span>Order</span></a></li>
  </ul>

</nav>
                   <nav class="mobile">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#"><span>Products</span></a></li>
    <li><a href="#"><span>About</span></a></li>
    <li><a href="#"><span>Event</span></a></li>
    <li><a href="#contact"><span>contact</span></a></li>
    <li><a href="#"><span>Order</span></a></li>
  </ul>

</nav>
    </div>
<div class="right"><div class="p"><p>Creative,innovative,potential driven</div></span></div>
<div class="logo"><img src="{% static 'images/logo2.png' %}">
</div>

<div class="left"><p>handmade quiet Books for kids</p></div>

<div class="info"><p><spand class="kinder">Kinder</spand> quiet books made from high quality materials</p></div>
</div>
</header>


<!--
        <div id="slider">
<figure>
    
<img src="{% static 'images/car.jpeg' %}" alt>

<img src="{% static 'images/colors.jpeg' %}" alt>
<img src="{% static 'images/car.jpeg' %}" alt/>

</figure>
</div> -->       
 






            <body>
              <div class="mainabout" id="about">
              <div class="about"><h1>About</h1>

Kinder Educational Tools Store is a unique company started in 2015 . Specialized in making durable and quality  handmade educational products .Such as  quiet books for kids .Our books helps kids to improve their creativity while keeping them active .Due to the durability of our products ,compared to most in the market ,you are rest assured our products has  long lasting life span .And  suitable for kids of all kind.Quality has always been our prime focus ,improving our product quality is a continuous journey .

Our vision is to help all kids worldwide to be smart and creative.

Our mission is to increase creative thinking and intelligence of more than 1 million kid worldwide through our unique handmade educational products.
Our corporate core values:
A commitment to creativity and Innovation, Kinder Educational Tools Store has the welling to be number one worldwide in creative and innovative handmade educational products for kids.

Product name: Quiet Book for kids (3-6) years old
Main material used: Fabric cloth can be ironed.
Colors: Available in sky blue and fern green colors
Durability: 2-3 years depending on the usage.</div>
<div class="founder"><img src="{% static 'images/khalid hegazi.jpg' %}" alt="Khalid Hegazi"><div class="title"><label>Founder and CEO:Khalid Hegazi</label></div></div>

              </div>
<div class="products" id="order">
  <div class="order">
  <h1> Order</h1>
  {% load widget_tweaks %}
<form action='' method='POST' enctype='multipart/form-data'>
  {% csrf_token %}
  {% for form in form %}
  {{form.labe}}<br/>
     {{ form|add_class:"forms" }}
     {% endfor %}

    <button type="submit">ORDER</button>
</form>

  {% if messages %}
<ul class="messages"> {% for messages in messages %}
    <li {% if messages.tags %} class="{{messages.tags}}" {% endif %}> {{messages}}</li>{% endfor %}</ul> {% endif %}
</div>
  <div class="galary"><h1>Galary</h1>
    <div class="gallery cf">
  <div>
    <img src="{% static 'images/sewing.jpeg' %}" />
  </div>
  <div>
      <img src="{% static 'images/vichle.jpeg' %}" />
  </div>
  <div>
   <img src="{% static 'images/tools.jpeg' %}" />
  </div>
  <div>
      <img src="{% static 'images/shoes2.jpeg' %}" />
  </div>
  <div>
   <img src="{% static 'images/shoes.jpeg' %}" />
  </div>
  <div>
       <img src="{% static 'images/moon.jpeg' %}" />
  </div>
       <div>
       <img src="{% static 'images/frog.jpeg' %}" />
  </div>
       <div>
       <img src="{% static 'images/house.jpeg' %}" />
  </div>
       <div>
       <img src="{% static 'images/doctor.jpeg' %}" />
  </div>
</div>
  </div>
</div>

<footer>
  <div class="pow"><p>Developed and Powered by <a href="">gogitsolution</a></p></div>
  <div class="top"> <p><a href="#home">TOP</a></p></div>
   <div class="contact" id="contact"> <p>WhatsApp:+20(109)-373-8252</p></div>
</footer>

   </body>
     
	




    </html>