{% load staticfiles %}
                 <DOCTYPE html>
    <html >
    <header class="header1">
        <title>KID TOYS||KIDS||CREATIVItY</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="description" content="Kindle || Children Creativity || queit Work  for kids||" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'css/mainfile.css' %}"> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<nav class="mobile">
 <ul>
    <li><a href="{% url 'kindlebizy:Homepage' %}">Home</a></li>
    <li><a class="order1" href="#pro"><span>Products</span></a></li>
    <li><a href="{% url 'kindlebizy:about' %}"><span>About</span></a></li>
    <li><a href="#"><span>Event</span></a></li>
    <li><a href="{% url 'kindlebizy:order' %}"><span>contact</span></a></li>
    <li><a href="{% url 'kindlebizy:order' %}"><span>Order</span></a></li>
  </ul>

</nav>

<div class="products" id="order">
  <div class="order">
  <h1> Order</h1>
  {% load widget_tweaks %}
<form action='' method='POST' enctype='multipart/form-data'>
  {% csrf_token %}
  <label>Name</label>{{form.Name|add_class:"forms"}}<br>
  <label>Email</label>{{ form.Email|add_class:"forms"}}<br>
    <label>Products</label> {{ form.Products|add_class:"forms" }}<br>
    <label>Quantity</label> {{form.quantity|add_class:"forms"}}<br>
     <label>message</label>{{form.text|add_class:"forms"}}<br>
  

    <button type="submit">ORDER</button>
</form>
<div  id="pro">
 <div class="galary"><h1>Galary</h1>
    <div class="gallery cf">
  <div>
    <img src="{% static 'images/sewing.jpeg' %}" />
  </div>
  <div>
      <img src="{% static 'images/vichle.jpeg' %}" />
  </div>
  <div>
   <img src="{% static 'images/tools.jpeg' %}" />
  </div>
  <div>
      <img src="{% static 'images/shoes2.jpeg' %}" />
  </div>
  <div>
   <img src="{% static 'images/shoes.jpeg' %}" />
  </div>
  <div>
       <img src="{% static 'images/moon.jpeg' %}" />
  </div>
       <div>
       <img src="{% static 'images/frog.jpeg' %}" />
  </div>
       <div>
       <img src="{% static 'images/house.jpeg' %}" />
  </div>
       <div>
       <img src="{% static 'images/doctor.jpeg' %}" />
  </div>
</div>
  </div>
</div>